body {
    font-family: Oswald, Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color:white;
}

p {
    padding: 10px;
}

#wrapper {
    margin: 0 auto;
    max-width: 800px;
}

#contentwrap {
    max-width: 800;
    float: left;
    margin: 0 auto;
}

#content, #header {
    max-width: 800px;
    background: #37474f;
    border-radius: 10px;
    border: 1px solid #23333b;
    margin: 5px;
    padding: 5px;
    overflow-y: hidden;
}


#currently_playing, #playlist {
    background-color: #FFFFFF;
    color: #2A373E;
    border-radius: 10px;
    padding: 5px;
}
table {
    background-color: white;
    color: #2A373E;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
}

.button_old {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px #20538D;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background: #4479BA;
    color: #FFF;
    padding: 4px 6px;
    text-decoration: none;
}

.button {
  background: #b2bbbf;
  background-image: -webkit-linear-gradient(top, #b2bbbf, #254352);
  background-image: -moz-linear-gradient(top, #b2bbbf, #254352);
  background-image: -ms-linear-gradient(top, #b2bbbf, #254352);
  background-image: -o-linear-gradient(top, #b2bbbf, #254352);
  background-image: linear-gradient(to bottom, #b2bbbf, #254352);
  -webkit-border-radius: 15;
  -moz-border-radius: 15;
  border-radius: 15px;
  -webkit-box-shadow: 2px 3px 3px #ffffff;
  -moz-box-shadow: 2px 3px 3px #ffffff;
  box-shadow: 2px 3px 3px #ffffff;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.button:hover {
  background: #254352;
  background-image: -webkit-linear-gradient(top, #254352, #b2bbbf);
  background-image: -moz-linear-gradient(top, #254352, #b2bbbf);
  background-image: -ms-linear-gradient(top, #254352, #b2bbbf);
  background-image: -o-linear-gradient(top, #254352, #b2bbbf);
  background-image: linear-gradient(to bottom, #254352, #b2bbbf);
  text-decoration: none;
}

.clearer {
    clear: both;   
}

.two_column {
    float: left; 
    vertical-align: top; 
    max-width:375px;
    min-width:300px;
    margin: 5px;
}
